.chatContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.avatar {
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat {
  flex-grow: 1;
}

.chatHeader, .chatHeader h3, .message, .message p {
  margin: 0px;
  padding: 0px;
}

.chatHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message {
  display: flex;
  justify-content: space-between;
}

.message p {
  font-size: 9pt;
}